env/
dataset/
dataset2/
models/
results/
test.ipynb
__pycache__/
dataset_test/
nohup.out
datasetpath/
datasetpath_petit/
dataaug_test/
*_test.py
randomdataset/
randomdataset_petit/
pathlib_test.py
utils_test.py
utils_test2.py
datasetpath_test.py
gomi.py
dataset_concatinator.py
dataloader_runner.py
filename_changer.py
model_test.py
dataaugmentation_test.py
