env/
dataset/
dataset2/
models/
results/
test.ipynb
__pycache__/
dataset_test/
nohup.out
datasetpath/
croppeddata/
datasetpath_petit/
dataaug_test/
*_test.py
randomdataset/
randomdataset_petit/
randomdata/
data_vis/
metrics_test/
blur_test/
result_tracking/
model/

pathlib_test.py
utils_test.py
utils_test2.py
datasetpath_test.py
gomi.py
dataset_concatinator.py
dataloader_runner.py
filename_changer.py
model_test.py
dataaugmentation_test.py
dataset_test.py
metrics_test.py
blur_test.py
inference_former.py
animation.py